#root {
  width: auto;
  max-width: none;
  margin: none;
  text-align: center;
}

/*
  margin: auto;
  text-align: center;
  border: solid black


  text-align: center;
  height: auto; 
}*/
html{
  scroll-behavior: smooth;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.Header{
  color: #011f5b;
  font-family: Open Sans;
  width: auto;
  display: flex;
  justify-content: start;

}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.LogInField {
  justify-content: center;
}

#LogInForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20vh;
}

#LogInBtn {
  width: 50%;
  height: 8vh;
  display: flex;
  margin: auto;
  margin-top: 4%;
  margin-bottom: 4%;
  background-color: rgba(0, 0, 0, 0.3);
}

#LogInBtn h2 {
  color: white;
  margin: auto;
}

#LogInBtn:active {
  width: 50%;
  height: 8vh;
  display: flex;
  margin: auto;
  margin-top: 4%;
  margin-bottom: 4%;
  background-color: rgb(219, 112, 5);
}

#LogInForm input {
  border-radius: 15px;
  height: 8vh;
  margin: 5px;
  width: 40vw;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 25px;
  background-color: rgb(255, 255, 255);
  border: solid black 3px;
  color: black;
  font-weight: bold;
  padding-left: 5%;
}

#Circles {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: auto;
  gap: 40px;
}

.Flag {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #888;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  object-fit: cover;
}

.Flag:active {
  border-radius: 50%;
  background-color: #071287;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.row {
  float: left;
  width: 50%;
}

.column:after {
  content: "";
  display: table;
  clear: both;
}
/*
.LocationBox {
  width: 200px;
  height: 200px;
  border-radius: 15%;
  border-color: solid rgb(63, 63, 63) 3px;
  background-color: #c1c1c1;
  margin: 1000px;
  padding: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
*/
.ZaikoLogoImg {
  width: 100%;
  height: auto;
}

footer {
  background: #f3f3f3;
  color: white;
  width: 100vw;
  height: 100px;
  text-align: center; 
  position: fixed;
  bottom: 0px;
  box-shadow: 0px 0px 10px 2px #100e0e38;
  margin-left: -10px; /*POOR PRACTICE IDIOT*/

}
.FooterContent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#Option{
  margin-top: 2%;
  width: 60px;
}
.ProductHeader{
  width: 100vw; 
  height: 30%;
  background-color: #f3f3f3;
  margin-bottom: 12px;
  filter: drop-shadow(0 4px 6px #100e0e50);
  ;
}
.ProductHeader form input{
  background-color: white;
  border: none;
  border-radius:25px;
  width: 736px;
  height: 52px;
  margin-bottom: 15px;
  border: solid 2px #919191;
}
.ProductHeader input {
  font-size: 20px;
  color: black;
  padding-left: 15px;
  font-weight: bold;
}
/*
.Location-list {
  display: flex;
  flex-direction: column;
}
*/
.LocationSquares {
  width: 288px;
  height: 288px;
  border-radius: 16px;
  border: solid rgba(0, 0, 0, 0.193) 3px;
  background-color: #c1c1c1;
  margin: 16px ;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.28);
}

.LocationSquares strong {
  font-size: 4vw;
  width: 80%;
  position: relative;
  color: #4a3737d5;
  display: flex;
  position: relative;
  bottom:180px;
 
}
.LocationSquares  button{
  background-color: #00000000;
  border: none;
  width: 30vw;
  height: 40vh;
}

.NumOfItems {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 24px;
  position: absolute;
  bottom: 10px; 
  left: 32px; 
  
}
.NumOfItems p{
  color: #4a3737ea;

}

.ProductHeader a{
  font-size: 36px;
  color: #011f5b;
  font-weight: bold;
}

.productList{
  background-color: #e7e7e7;
  width: 100%;
}
.productList h2 {
  font-size: 3vw;
  width: 30%;
  position: relative;
  color: #011f5b;
}

.productList {
  display: flex;
  flex-direction: column;
}

.productCard {
  border: 1px solid #919191;
  padding: 10px;
  border-radius: 25px;
  width: 85vw;
  height: 6vh;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 0%;
  margin-bottom: 50px;
  background-color: #f3f3f3;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 14px 0 rgba(0, 0, 0, 0.106);

}

.productCard h3 {
  font-size: 20px;
  font-weight: 900;
  color: #011f5b;
  margin-top: 3%;
  margin-left: 2%;
  float: left;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.productCard p {
  font-size: 14px;
  margin: 5px 0;
  justify-content: center;
  width: 100%;
  flex-direction: row;
}
.EditQTY{
  display: flex;
  width: auto;
  float: right;
  flex-direction: row;
  height: auto;

}
#QTYBTN{
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #011f5b;
  font-size: 35px;
  margin-top: 25px;
}
#QTYField{
margin: 20px;
width: 47px ;
height: 47px;
background-color: white;
border: solid 2px #011f5b;
border-radius:6px;
color: #011f5b;
font-size: 20px;
text-align: center;
font-weight: bold;

}

/* the styles for LocationTabs */
.LocationTabs {
  width: auto;
  padding: 140px 6%;
}

.Location-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.LocationTabs ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: left;
  width: auto;
  margin-bottom: 20px;
}

.SaveBtnContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.SaveBtn {
  width: 400px;
  height: auto;
  background-color: black;
  border: none;
  border-radius: 15px;
  position: fixed;
  bottom: 115px;
}
.SaveBtn h1{
  color: white;
}

/*
.LocationTabs ul li {
  width: calc(50% - 10px);
  margin: 10px;
}

@media (max-width: 840px) {
  .LocationTabs ul li {
    width: 100%; 
  }
}
*/
.LocationNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100vw;
  top: none;
  z-index: 1000;
  background-color: #f3f3f3;
  margin-left: -10px;
  scroll-behavior: smooth;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown button {
  color: black;
  background-color: #f3f3f3;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  background-color: #011f5b;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #ddd;
}

.FilterIcon {
  width: 70px;
  height: auto;
}

.Dropdown{
  border-color: transparent;
}

.ArrowIcon {
  width: 70px;
  height: auto;
}

.OrderHistory {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

h2 {
  color: #333;
  margin-bottom: 10px;
  font-size: 24px;
}

p {
  font-size: 18px;
  color: #555;
  margin-bottom: 15px;
}

table {
  width: 100%;
  height: 100%;
  max-width: 100%;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #011f5b;
  color: white;
  text-transform: uppercase;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
  cursor: pointer;
}
.OrderHistoryTable td{
  color: #011f5b;
  font-weight: bolder;
}

/* profile page */
.PFP{
  width: 200px;
  height: 200px;
  background-color: #fdfdfd;
  margin-top: 5%;
  margin-right: 15%;
  border-radius: 100%;
}

/*.ProductHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}*/

.nameArrow{
  display: inline;
  align-items: last baseline;
}

.HeaderTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.HeaderTop img {
  width: 40px;
  height: 40px;
}

.ProfileHeader{
  background-color: #0d2149;
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-left: 5%;
}

.ProfileHeader h1{
color: #fffcfc;
}

.ProfileHeader h3{
  color: #fffcfc;
  font-weight: 200;
}

.ProfileHeader h4{
    color: #fffcfc;
}

#PFHInfo{
  flex-direction: column;
  justify-content: center;
  text-align: left;
  justify-self: center;
  
}
.BtnInfo{
  display: flex;
  width: auto;
  width: 90vw;

}
.dropdown2{
  width: auto;
  background-color: #284070;
  
}
.dropdown2 button{
  background-color: #00000000;
  border: none;

}
.dropdown2 h2{
  color: #f8f8f8;
  width: 100%;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  font-family: inter;
  
}
.dropdown2 h1{
  color: white;
}

.LogOut {
  width: 400px;
  height: auto;
  background-color: black;
  border: none;
  border-radius: 15px;
  position: fixed;
  bottom: 115px;
  left: 50%;
  transform: translateX(-50%);
}

.LogOut h1{
color: white;
}
/*OVERLAY Filter*/
.LocationNav {
  background-color: #f8f9fa; 
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.FilterOverLay {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: #f8f9fa;;
  padding: 50px 0px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%; 
  position: absolute;
  top: 100%; 
  border-top: none;
}

.FilterOverLay div {
  display: flex;
  flex-direction: row;
}



.FilterOverLay input {
  -webkit-appearance: none; /* Remove default styles for WebKit browsers */
  -moz-appearance: none; /* Remove default styles for Firefox */
  appearance: none;
  width: 60px;
  height: 60px;
  background-color: white;
  border: solid #011f5b;
  border-radius: 10px;
  margin-left: 2%;
  cursor: pointer;
}

.FilterOverLay input:checked {
  background-color: #011f5b; 
  border-color: #011f5b; 
  box-shadow: inset 0 0 0 12px white;
  border-radius: 10px; 
}




.formFilterBar{
  margin: 19px;
  display: flex;
  justify-content: space-between;
  color: #333;
  border-color: #333;
}

.countFilter{
  width: 200px;
  height: 40px;
  border-radius: 20px;
  font-size: large;
}

.formFilterBar :active{
  color: rgba(211, 123, 0, 100);
  border-color: rgba(211, 123, 0, 100);
}
/*Product Editor*/

.ProductEditor{
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 1px;
  background-color: white;
  width: 100%;
  z-index: 100;
  font-family: Open Sans;

}
.ProductEditor p{
  color: #011f5b;
  font-weight: bold;
  font-size: 30px;
  display: flex;
  text-align: left;
  padding-left: 20px;
}
#SettingsRow{
  display: flex;
  flex-direction: row;
  width: 95%;
  justify-content: space-between ;
}
#SettingsRow H4{
  color: #db3838;
  font-weight: bold;
  font-size: 30px;
  display: flex;
}
.ProductEditor h4{
  display: flex;
  text-align: right;
}
.ProductEditor form{
  width: 100%;
  height: 60vh;
  font-family: Open Sans;

}

.ProductEditor form input{
  width: 100%;
  margin-bottom: 20px;
  background: none;
  border: none;
  color: #011f5b;
  font-size: 40px;
  font-weight: bolder;
  padding-left: 20px;
}
.ProductEditor form select{
  width: 100%;
  margin-bottom: 20px;
  background: none;
  border: none;
  color: #011f5b;
  font-size: 40px;
  font-weight: bolder;
  padding-left: 20px;
}
.ProductEditor form option{
  background-color: white;
}
.ProductEditor  form h3{
  text-align: left;
  font-size: 20px;
  padding-left: 20px;
  font-weight: 300;
}

.ProductEditor button{
  width: 90%;
  height: 90px;
  border: solid #011f5b 4px;
  background: none;
  border-radius: 100px;
  margin-bottom: 5%;
}
.ProductEditor button h1{
  display: flex;
  justify-content: center;
  height: auto;
  position: relative;
  bottom: 10px;
  font-weight: 300;
  font-family: Open Sans;
}
.ProductEditor .SaveBTN button  {
  background-color: #456d3a;
  border: none;
}
.ProductEditor .SaveBTN button h1{
  color: white;
  font-weight: bold;


}

/*Overlay*/
.ConformationOverlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 80%;
  padding: 30px;
  font-family: Open Sans;
  border-radius: 25px;
  box-shadow: 0px 0px 10px 2px #100e0e38;
  z-index: 101;
}
.ConformationOverlay  button{
  width: 90%;
  height: 90px;
  border: solid #011f5b 4px;
  background: none;
  border-radius: 100px;
  margin-bottom: 5%;
}
.ConformationOverlay button h1{
  display: flex;
  justify-content: center;
  height: auto;
  position: relative;
  bottom: 10px;
  font-weight: 300;
  font-family: Open Sans;
}
.ConformationOverlay .DeleteBTN button  {
  background-color: #c21d1b;
  border: none;
}
.ConformationOverlay .DeleteBTN button h1{
  color: white;
  font-weight: bold;
}
.ConformationOverlay p{
  font-size: 32px;
  font-family: Open Sans;
  text-align: left;
  font-weight: bold;
  color: black;
}