#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.LogInField{
  justify-content: center;

}
#LogInForm{
  display: flex;
  flex-direction: column;
  justify-content: center;

}
#LogInBtn {
  width: 50% ;
  height: 8vh;  
  display: flex;
  margin: auto;  
  margin-top: 4%;
  margin-bottom: 4%;
}
#LogInBtn h2{
  color: white;
  margin: auto;
}
#LogInBtn:hover {
  width: 53% ;
  height: 9vh;
  display: flex;
  margin: auto;  
  margin-top: 4%;
  margin-bottom: 4%;
  background-color: rgb(219, 112, 5);
}
#LogInForm input{
  border-radius: 15px;
  height: 10vh;
  margin: 5px;
  width: 30vw;
  justify-content: center;
  align-items: center;
  margin-left: 27vw;
  font-size: 25px;
  background-color: rgb(255, 255, 255);
  border: solid black 3px;
  color: black;
  font-weight: bold;
  padding-left: 5%;
}
.LogoImg img{
  width: 90vw;
}
#Circles {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  width: 70%;
  margin: auto;
}

#Circles p {
  width: 100px;
  height: 100px;
  border-radius: 50%; /* Makes them circles */
  background-color: #888;
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin: 2%;
}

#Circles p:hover{
  width: 110px;
  height: 110px;
  border-radius: 50%; /* Makes them circles */
  background-color: #071287;
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin: 2%;
}